/* || RESET */

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* || VARIABLES */

:root {
  /* FONTS */

  /* COLORS */
  --LIGHT-SEA-GREEN: rgb(46, 196, 182);
  --ORANGE-PEEL: rgb(255, 159, 28);
  --MINT-GREEN: rgb(203, 243, 240);
  --HUNYADI-YELLOW: rgb(255, 191, 105);
}

/* || UTILITY */

.offscreen {
  position: absolute;
  left: -10000px;
}

.nowrap {
  white-space: nowrap;
}

.center {
  text-align: center;
}

/* || GENERAL STYLES */

/* || LOADER */

.loader-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--LIGHT-SEA-GREEN);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  transition: top 5s;
}

.move-up {
  top: -100vh;
}

.loader-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 1s ease-out;
}

.loader-overlay.move-to-corner {
  align-items: flex-start;
  justify-content: flex-start;
}

.slide-left {
  transform: translateX(-50px);
}

.loader-name {
  position: absolute;
  top: 10%;
  transform: translateX(50%);
  opacity: 0;
  font-size: 1.5rem;
  color: var(--MINT-GREEN);
  transition: transform 1s ease-out, opacity 1s ease-out, left 1s ease-out;
}

.slide-out {
  transform: translateX(120px);
  opacity: 1;
}

.loader {
  height: 100px;
  width: 100px;
  border: 10px solid var(--ORANGE-PEEL);
  border-top-right-radius: 20%;
  border-bottom-left-radius: 20%;
  animation: 2s spin ease-in-out;
  animation-iteration-count: 1.25;
}

@keyframes spin {
  0% {
    transform: rotateX(0) rotateY(0);
  }
  50% {
    transform: rotateX(360deg) rotateY(0);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg);
  }
}

/* || NAVBAR */

header {
  width: 100%;
  height: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: var(--LIGHT-SEA-GREEN);
}

nav {
  height: 5rem;
  width: 50%;
}

ul {
  list-style: none;
  font-size: 1.5rem;
  color: var(--MINT-GREEN);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 1.5rem;
}

.logo-wrapper {
  width: 8%;
  margin-left: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.text {
  font-size: 1rem;
  line-height: 1rem;
  color: var(--MINT-GREEN);
}

.logo {
  height: 50px;
  width: 50px;
  border: 10px solid var(--ORANGE-PEEL);
  border-top-right-radius: 20%;
  border-bottom-left-radius: 20%;
}

/* || MAIN */

main {
  height: calc(100vh - 5rem);
}

/* || ABOUT */

.about-section {
  height: calc(100vh - 5rem);
  background-color: var(--MINT-GREEN);
}
